// app global css in SCSS form

.desktop-background {
  background-image: url('src/assets/ferieboligbooking-background-swedish-art.png');
  background-repeat: no-repeat;
  background-attachment: local;
  background-position: top;
  background-size: contain;
  background-color: #FFE48B;
  width: 100vw;
  min-height: 100vh;
}

.mobile-background {
  background-image: url('src/assets/ferieboligbooking-background-m-swedish-art.png');
  background-repeat: no-repeat;
  background-attachment: local;
  background-position-y: 12vh;
  background-size: 900px, auto, cover;
  background-color: #FFE48B;
  width: 100vw;
  min-height: 100vh;
}
