// app global css in SCSS form

@mixin background-style($image-url) {
  background-image: url($image-url);
  background-repeat: no-repeat;
  background-attachment: local;
  background-color: #FFE48B;
  width: 100vw;
  min-height: 100vh;
}

@mixin desktop-style($image-url){
  @include background-style($image-url);
  background-position: top;
  background-size: contain;
}

@mixin mobile-style($image-url){
  @include background-style($image-url);
  background-position-y: 12vh;
  background-size: 900px, auto, cover;
}

.desktop-background {
  @include desktop-style('src/assets/ferieboligbooking-background-swedish-art.png');
}

.mobile-background {
  @include mobile-style('src/assets/ferieboligbooking-background-m-swedish-art.png');
}

.desktop-background-low-opacity {
  @include desktop-style('src/assets/ferieboligbooking-background-swedish-art-low-opacity.png');
}

.mobile-background-low-opacity {
  @include mobile-style('src/assets/ferieboligbooking-background-m-swedish-art-low-opacity.png');
}
.q-item-type{
  background-color: #FFEEB5;
  color: #857747;
}
